@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

$primary-main: #4a57a9;
$primary-light: #efefff;
$primary-dark: #182778;

$secondary-main: #ed980e;
$secondary-light: #ffb95c;
$secondary-dark: #a96900;

$success-main: #37a370;
$success-light: #73dba3;
$success-dark: #006d43;

$error-main: #d64942;
$error-light: #ff897a;
$error-dark: #930006;
