@import "config";

.MuiDrawer-root {
  ::-webkit-scrollbar {
    background: transparent;
    width: 3px;
  }

  /* Button */
  ::-webkit-scrollbar-button {
    display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #fffa;

    &:hover {
      background: #fffd;
    }
  }
}
