.bg{
    background-image: url("../../../public/images/Acharya.jpeg");
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-attachment: fixed;
    /* background-position: center; */
    background-position: contain;
}
.color{
    color: black;
}
.lor{
    color: brown;
}
.layout{
    display: grid;
    grid-template-columns: repeat(2.1fr);
    font-size: 25px;
    grid-area: span;
    padding-left: 50px;
    padding-top: 60px;
    /* color: brown; */
}
