.dropdown_container {
    text-align: left;
    border: 1px solid #000;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
}

.dropdown_input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.dropdown_menu {
    color: #000;
    position: absolute;
    transform: translateY(20px);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 400px;
    background-color: #fff;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.dropdown_item {
    padding: 9px;
    cursor: pointer;
    font-size: 15px;
}

.dropdown_item:hover {
    background-color: #9fc3f870;
}

.dropdown_item.selected {
    background-color: #132353;
    color: #fff;
}

.dropdown_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dropdown_tag_item {
    background-color: #ddd;
    padding: 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    color: #000;
}

.dropdown_tag_close {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search_box {
    padding: 5px;
    background-color: #eee;
}

.search_box input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
}